In [1]:
import pandas as pd
import numpy as np

In [9]:
sales_df=pd.read_csv(r'C:\Users\10726055\Downloads\sales_data (2).csv')

In [10]:
sales_df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [11]:
sales_df.dtypes

Date                object
Day                  int64
Month               object
Year                 int64
Customer_Age         int64
Age_Group           object
Customer_Gender     object
Country             object
State               object
Product_Category    object
Sub_Category        object
Product             object
Order_Quantity       int64
Unit_Cost            int64
Unit_Price           int64
Profit               int64
Cost                 int64
Revenue              int64
dtype: object

In [13]:
type(sales_df['Customer_Age'])

pandas.core.series.Series

In [14]:
type(sales_df[['Customer_Age']])

pandas.core.frame.DataFrame

In [15]:
sales_df.loc[1:3]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088

In [17]:
sales_df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

In [22]:
sales_df[sales_df['Month']=='November']

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
36,2013-11-11,11,November,2013,34,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,25,45,120,1845,1125,2970
37,2015-11-11,11,November,2015,34,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1697,1035,2732
46,2013-11-17,17,November,2013,29,Young Adults (25-34),F,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,12,45,120,886,540,1426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112923,2015-11-07,7,November,2015,39,Adults (35-64),F,United States,California,Clothing,Vests,"Classic Vest, S",27,24,64,1045,648,1693
112938,2013-11-16,16,November,2013,79,Seniors (64+),M,United States,California,Clothing,Vests,"Classic Vest, S",5,24,64,194,120,314
112939,2015-11-16,16,November,2015,79,Seniors (64+),M,United States,California,Clothing,Vests,"Classic Vest, S",5,24,64,194,120,314
112950,2013-11-01,1,November,2013,35,Adults (35-64),F,Australia,Victoria,Clothing,Vests,"Classic Vest, L",12,24,64,319,288,607
112951,2015-11-01,1,November,2015,35,Adults (35-64),F,Australia,Victoria,Clothing,Vests,"Classic Vest, L",11,24,64,292,264,556

In [25]:
sales_df[(sales_df['Month']=='November')&(sales_df['Customer_Age']==34)&(sales_df['State']=='Queensland')]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
868,2013-11-10,10,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Bike Stands,All-Purpose Bike Stand,3,59,159,224,177,401
869,2015-11-10,10,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Bike Stands,All-Purpose Bike Stand,1,59,159,75,59,134
16806,2013-11-04,4,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Bottles and Cages,Water Bottle - 30 oz.,30,2,5,66,60,126
16807,2013-11-04,4,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Bottles and Cages,Water Bottle - 30 oz.,17,2,5,37,34,71
16808,2015-11-04,4,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Bottles and Cages,Water Bottle - 30 oz.,32,2,5,70,64,134
16809,2015-11-04,4,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Bottles and Cages,Water Bottle - 30 oz.,14,2,5,31,28,59
21782,2013-11-25,25,November,2013,34,Young Adults (25-34),F,Australia,Queensland,Accessories,Cleaners,Bike Wash - Dissolver,23,3,8,86,69,155
21783,2015-11-25,25,November,2015,34,Young Adults (25-34),F,Australia,Queensland,Accessories,Cleaners,Bike Wash - Dissolver,22,3,8,82,66,148
22366,2013-11-24,24,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Cleaners,Bike Wash - Dissolver,29,3,8,108,87,195
22367,2015-11-24,24,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Cleaners,Bike Wash - Dissolver,29,3,8,108,87,195
36278,2013-11-04,4,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Helmets,"Sport-100 Helmet, Red",22,13,35,361,286,647
36279,2015-11-04,4,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Helmets,"Sport-100 Helmet, Red",22,13,35,361,286,647
36280,2013-11-15,15,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Helmets,"Sport-100 Helmet, Red",6,13,35,98,78,176
36281,2015-11-15,15,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Helmets,"Sport-100 Helmet, Red",7,13,35,115,91,206
62784,2013-11-06,6,November,2013,34,Young Adults (25-34),F,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 62",1,2171,3578,835,2171,3006
62785,2015-11-06,6,November,2015,34,Young Adults (25-34),F,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 62",1,2171,3578,835,2171,3006
62786,2013-11-29,29,November,2013,34,Young Adults (25-34),F,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 62",1,2171,3578,835,2171,3006
62787,2015-11-29,29,November,2015,34,Young Adults (25-34),F,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 62",2,2171,3578,1669,4342,6011
63914,2013-11-04,4,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 56",1,2171,3578,835,2171,3006
63915,2015-11-04,4,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 56",1,2171,3578,835,2171,3006
63916,2013-11-10,10,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 56",1,2171,3578,835,2171,3006
63917,2015-11-10,10,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 56",1,2171,3578,835,2171,3006
63918,2013-11-15,15,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 56",1,2171,3578,835,2171,3006
63919,2015-11-15,15,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 56",1,2171,3578,835,2171,3006
63920,2013-11-24,24,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 56",1,2171,3578,835,2171,3006
63921,2015-11-24,24,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Bikes,Road Bikes,"Road-150 Red, 56",3,2171,3578,2504,6513,9017
89292,2013-11-06,6,November,2013,34,Young Adults (25-34),F,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,10,1,4,24,10,34
89293,2015-11-06,6,November,2015,34,Young Adults (25-34),F,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,8,1,4,19,8,27
89294,2013-11-29,29,November,2013,34,Young Adults (25-34),F,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,29,1,4,68,29,97
89295,2013-11-29,29,November,2013,34,Young Adults (25-34),F,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,24,1,4,57,24,81
89296,2015-11-29,29,November,2015,34,Young Adults (25-34),F,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,28,1,4,66,28,94
89297,2015-11-29,29,November,2015,34,Young Adults (25-34),F,Australia,Queensland,Accessories,Tires and Tubes,Road Tire Tube,24,1,4,57,24,81
91626,2013-11-10,10,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,HL Road Tire,2,12,33,31,24,55
91627,2013-11-10,10,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,HL Road Tire,21,12,33,330,252,582
91628,2015-11-10,10,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,HL Road Tire,1,12,33,16,12,28
91629,2015-11-10,10,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,HL Road Tire,20,12,33,314,240,554
91630,2013-11-15,15,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,HL Road Tire,10,12,33,157,120,277
91631,2013-11-15,15,November,2013,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,HL Road Tire,30,12,33,472,360,832
91632,2015-11-15,15,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,HL Road Tire,10,12,33,157,120,277
91633,2015-11-15,15,November,2015,34,Young Adults (25-34),M,Australia,Queensland,Accessories,Tires and Tubes,HL Road Tire,32,12,33,503,384,887

In [38]:
sales_df[['Month','State','Country']]

           Month             State         Country
0       November  British Columbia          Canada
1       November  British Columbia          Canada
2          March   New South Wales       Australia
3          March   New South Wales       Australia
4            May   New South Wales       Australia
...          ...               ...             ...
113031     April           England  United Kingdom
113032     April        Queensland       Australia
113033     April        Queensland       Australia
113034     March     Seine (Paris)          France
113035     March     Seine (Paris)          France

[113036 rows x 3 columns]

In [32]:
pd.DataFrame(pd.Series(sales_df['Product'].unique()))

                          0
0       Hitch Rack - 4-Bike
1    All-Purpose Bike Stand
2      Mountain Bottle Cage
3     Water Bottle - 30 oz.
4          Road Bottle Cage
..                      ...
125   Touring-2000 Blue, 50
126   Touring-2000 Blue, 60
127         Classic Vest, L
128         Classic Vest, M
129         Classic Vest, S

[130 rows x 1 columns]

In [34]:
sales_df['Product']

0         Hitch Rack - 4-Bike
1         Hitch Rack - 4-Bike
2         Hitch Rack - 4-Bike
3         Hitch Rack - 4-Bike
4         Hitch Rack - 4-Bike
                 ...
113031        Classic Vest, S
113032        Classic Vest, M
113033        Classic Vest, M
113034        Classic Vest, L
113035        Classic Vest, L
Name: Product, Length: 113036, dtype: object

In [39]:
sales_df['Product']

0         Hitch Rack - 4-Bike
1         Hitch Rack - 4-Bike
2         Hitch Rack - 4-Bike
3         Hitch Rack - 4-Bike
4         Hitch Rack - 4-Bike
                 ...
113031        Classic Vest, S
113032        Classic Vest, M
113033        Classic Vest, M
113034        Classic Vest, L
113035        Classic Vest, L
Name: Product, Length: 113036, dtype: object

In [40]:
profit_df=df[['Profit','Product']]

In [41]:
grouped_profit_df=profit_df.groupby('Product').sum()

In [43]:
grouped_profit_df['Profit']

Product
AWC Logo Cap                   78008
All-Purpose Bike Stand        201064
Bike Wash - Dissolver         116008
Classic Vest, L               157319
Classic Vest, M               161740
                               ...
Touring-3000 Yellow, 62        18371
Water Bottle - 30 oz.         417843
Women's Mountain Shorts, L    286059
Women's Mountain Shorts, M    394913
Women's Mountain Shorts, S    355189
Name: Profit, Length: 130, dtype: int64

In [45]:
profitc_df=df[['Profit','Product_Category']]

In [48]:
grouped_profitc_df=profitc_df.groupby('Product_Category').sum()

In [51]:
profitc_df.groupby('Product_Category').sum()

                    Profit
Product_Category
Accessories        8862377
Bikes             20519276
Clothing           2839447

In [76]:
sales_df[(sales_df['Year']==2013)&(sales_df['Product_Category']=='Accessories')]['Profit'].sum()

1985231

In [81]:
sales_df[['Age_Group','Product']][(sales_df['Year']==2015)].groupby('Age_Group').count()

                      Product
Age_Group
Adults (35-64)          11236
Seniors (64+)             131
Young Adults (25-34)     8785
Youth (<25)              4291

In [87]:
sales_df.at[4,'Date']

'2014-05-15'

In [84]:
type(sales_df.at[0,'Date'])

str

In [85]:
sales_df['Date']

0         2013-11-26
1         2015-11-26
2         2014-03-23
3         2016-03-23
4         2014-05-15
             ...
113031    2016-04-12
113032    2014-04-02
113033    2016-04-02
113034    2014-03-04
113035    2016-03-04
Name: Date, Length: 113036, dtype: object

In [90]:
from datetime import timedelta
sales_df['Date']=pd.to_datetime(sales_df['Date'])

In [95]:
sales_df['Date']=sales_df['Date']+timedelta(hours=24)

In [96]:
sales_df['Date']

0        2013-11-29
1        2015-11-29
2        2014-03-26
3        2016-03-26
4        2014-05-18
            ...
113031   2016-04-15
113032   2014-04-05
113033   2016-04-05
113034   2014-03-07
113035   2016-03-07
Name: Date, Length: 113036, dtype: datetime64[ns]

In [97]:
df['New_Column']=df['Product_Category']+" / "+df['Sub_Category']

In [98]:
df

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue,New_Column
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,Accessories / Bike Racks
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950,Accessories / Bike Racks
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401,Accessories / Bike Racks
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088,Accessories / Bike Racks
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418,Accessories / Bike Racks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184,Clothing / Vests
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183,Clothing / Vests
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183,Clothing / Vests
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260,Clothing / Vests
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207,Clothing / Vests

In [129]:
sales_df[(sales_df['Year']==2015)].groupby('Age_Group')['Profit'].sum()

Age_Group
Adults (35-64)          3436847
Seniors (64+)             19994
Young Adults (25-34)    2880608
Youth (<25)             1191114
Name: Profit, dtype: int64

In [135]:
sales_df[(sales_df['Year']==2015)&(sales_df['Age_Group']=='Adults (35-64)')].groupby('Sub_Category')['Product'].count()

Sub_Category
Bike Racks             63
Bike Stands            53
Bottles and Cages    1575
Caps                  392
Cleaners              204
Fenders               426
Gloves                279
Helmets              1235
Hydration Packs       145
Jerseys               573
Mountain Bikes        925
Road Bikes           1216
Shorts                192
Socks                 107
Tires and Tubes      3399
Touring Bikes         358
Vests                  94
Name: Product, dtype: int64

In [136]:
from sklearn import preprocessing